@import 'variables';

div.job-listing-container {
  position: relative;

  width: 1110px;
  max-width: 90%;

  margin: auto;
  padding-top: 76px;

  div.job-card {
    width: 100%;
    height: 152px;
    background: $card-background-color;
    margin: 24px 0;
    border-radius: 5px;
  }

  div.filter-container {
    position: absolute;

    transform: translateY(-50%);

    top: 0;

    width: 100%;
    height: 72px;

    border-radius: 5px;
    background: $card-background-color;
  }
}
