@import 'variables';

div.tags {
  padding-top: 1em;
  margin-left: 2em;

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  div.tag {
    height: 32px;

    margin-bottom: 1em;
    padding: 0 1em;

    display: flex;
    align-items: center;

    font-size: 13px;

    border-radius: 4px;

    background-color: $tag-background-color;
    color: $accent-text-color;

    cursor: pointer;

    &:not(:last-child) {
      margin-right: 1em;
    }

    &:hover {
      background-color: $accent-text-color;
      color: $tag-background-color;
    }
  }
}
@media (max-width: 800px) {
  div.tags {
    margin-left: 0;
    justify-content: flex-start;
  }
}
