@import 'variables';
div.main-info {
  height: 100%;

  margin-left: 24px;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  div.top-info {
    display: flex;
    flex-direction: row;

    align-items: center;

    p.company-name {
      margin-right: 24px;

      color: $accent-text-color;
    }

    div.flags {
      display: flex;
      flex-direction: row;

      div.flag {
        height: 24px;

        padding: 0 1em;

        display: flex;
        align-items: center;

        border-radius: 12px;

        text-transform: uppercase;

        font-size: 11px;
        font-weight: bold;

        color: $white;
        &.new {
          background-color: $new-flag-color;
        }
        &.featured {
          background-color: $featured-flag-color;
        }

        &:not(:first-of-type) {
          margin-left: 0.5rem;
        }
      }
    }
  }

  p.position-name {
    font-size: 18px;
    font-weight: bold;
  }

  div.position-info {
    color: $gray;
    span:not(:first-of-type)::before {
      content: '·';
      margin: 0 1em;
    }
  }
}
