<div class="main-info">
  <div class="top-info">
    <p class="company-name">
      {{ company }}
    </p>
    <div class="flags" *ngIf="flags.isNew || flags.isFeatured">
      <div class="flag new" *ngIf="flags.isNew">
        New!
      </div>
      <div class="flag featured" *ngIf="flags.isFeatured">
        Featured
      </div>
    </div>
  </div>
  <p class="position-name">{{ position }}</p>
  <div class="position-info">
    <span *ngFor="let item of meta">{{ item }}</span>
  </div>
</div>
