@import 'variables';

div.main {
  margin-left: 24px;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  div.header,
  p.position {
    margin-bottom: 1rem;
  }

  div.header {
    display: flex;
    flex-direction: row;

    align-items: center;

    p.company {
      margin-right: 24px;

      font-weight: bold;
      font-size: 14px;

      color: $accent-text-color;
    }
  }

  p.position {
    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
    &:hover {
      color: $breaker-bay;
    }
  }

  div.meta {
    color: $gray;
    span:not(:first-of-type)::before {
      content: '·';
      margin: 0 1em;
    }
  }
}

@media (max-width: 800px) {
  div.main {
    margin-left: 0;
    padding-top: 1rem;
  }
}
