@import 'variables';

div.offer {
  width: 100%;
  height: 152px;

  box-sizing: border-box;

  margin: 24px 0;
  padding: 32px;

  display: flex;
  align-items: center;

  background: $card-background-color;
  border-radius: 5px;
  box-shadow: 0px 15px 25px -15px rgba($breaker-bay, 0.5);

  &.featured {
    border-left: 5px solid $breaker-bay;
  }

  img.company-image {
    height: 88px;
    width: 88px;

    object-fit: cover;

    border-radius: 50%;
  }

  app-tags {
    margin-left: auto;
  }
}

@media (max-width: 800px) {
  div.offer {
    position: relative;
    width: 100%;
    height: unset;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 48px 0;
    padding-bottom: 16px;

    img.company-image {
      position: absolute;
      top: -24px;

      height: 48px;
      width: 48px;
    }

    app-tags {
      margin-top: 20px;
      margin-left: 0;

      width: 100%;
      border-top: 1px solid $muted-text-color;
    }
  }
}
