/* -------------------------------------------------------------------------- */
/*                                  Variables                                 */
/* -------------------------------------------------------------------------- */

/* --------------------------------- Colors --------------------------------- */

/* Palette */
$black: #2b3939;
$gray: #7c8f8f;
$white: #fff;
$aqua-spring: #effafa;
$aqua-haze: #eff6f6;
$breaker-bay: #5ca5a5;
$tradewind: #63baba;

/* Elements */
$background-color: $aqua-spring;
$header-background-color: $breaker-bay;
$header-accent-color: $tradewind;
$text-color: $black;
$muted-text-color: $gray;
